@using DatabaseHW.ViewModels;
@model PrimarySearchViewModel
@{
	ViewData["Title"] = "一级搜索结果";
}

<div class="row justify-content-center mt-5">
	<div class="col-3"><vc:house-condition-view-components></vc:house-condition-view-components></div>
</div>

@*<input type="hidden" id="model" value="@Json.Serialize(Model)"/>*@

@section Scripts
{
	<script src="~/js/primary.js"></script>
}
