@using DatabaseHW.ViewModels;
@model PrimarySearchViewModel
@{
	ViewData["Title"] = "一级搜索结果";
}

<div class="container col-3" id="job-container" style="position: fixed; height: 100%"></div>
<div class="container offset-3 col-6 mt-5" id="condition-container" style="position: fixed">
	<div class="row justify-content-center">
		<div class="col">
			<div class="text-center">
				<button type="button" class="px-3 py-1 me-4 btn-primary rounded-3" id="job-condition-btn">设置岗位筛选条件</button>
			</div>
			<div class="bg-light p-4 rounded-bottom" id="job-condition-container">@Url.Action("GetJobCondition", "Condition")</div>
		</div>
		<div class="col">
			<div class="text-center">
				<button type="button" class="px-3 py-1 ms-4 btn-primary rounded-3" id="house-condition-btn">设置租房筛选条件</button>
			</div>
			<div class="bg-light p-4 rounded-bottom" id="house-condition-container">@Url.Action("GetHouseCondition", "Condition")</div>
		</div>
	</div>
</div>
<div class="container offset-9 col-3" id="house-container" style="position: fixed; height: 100%"></div>

@section Scripts
{
	<script src="~/js/search.js"></script>
	<script src="~/js/condition.js"></script>
	<script src="~/js/ulimitedToggle.js"></script>
}
