@model DatabaseHW.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "出错";
}

<div class="row justify-content-center m-5">
	<h1 class="text-danger">又出错了！焯！！！</h1>
</div>
<div class="row justify-content-center m-5">
	<p class="text-black">出错信息：@("\n" + Model.ErrorMessage)</p>
</div>

