html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*主要内容新开一个层级，显示在地图之上*/
main {
    position: fixed;
}

/*地图占全屏*/
#map-container {
    width: 100%;
    height: 100%;
    position: fixed;
}